API_ID=20970103 # get this value from my.telegram.org
API_HASH=f98468162c8343681131c42f4c923224 # get this value from my.telegram.org
BOT_TOKEN=6053976653:AAFljXCrlO_eXxaCWZh12RlhurZNW1vvoSI # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://userbot:userbot@atlascluster.pchjigp.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001987882573 # get this value from in your log group 
MUSIC_BOT_NAME=telegram music # your music bot name 
STRING_SESSION=BQBmkU0_S77zkBsHtv_oRk_p-gNao1MmYNzRlxLdbit21ck94swCo6cH4WSAFhiiqjj0iU_6WNc5ZbyZz7x77L2knFyHufoJDcCsxr6MFODK58CypjXUMJy728F0M1ZMj-9fGvgyEgiyfqaTJK8NEnx04isL3OJjyNta4JO05AZChUqhDGuGPkno8TDSQlByanSXY9UAb8dSJkVwgBX2KKYnR6ECAKd-TYMwXPdzakO3VL_ZvRYyU5m3uucdHIMe8lT85BbLOvn29O_g6SUhFIpFUxQ-vuyn6oo_1GeCPip8uHlcTP3BEBugiE_1EgkH92qSM3cgQJgJ9Rz5Z0ecumVXAAAAAViiXyIA # get this value from @yukkistringbot
